<h1>Welcome to the Pages app!</h1>

<h3>Parse site pages from CSV:</h3>
<p class='container'>

  <%= form_with(url: {action: :parse_csv}, multipart: true) do %>
    <%= file_field_tag('paths_file') %>
    <br />
    <br />
    <%= submit_tag("Parse CSV") %>
  <% end %>

  <br />
  <br />

  <h2>Most recently submitted CSV pages:</h2>
  <% if @paths_parser %>
    <% @paths_parser.hierarchy.each do |section_name, subpages| %>
      <div class="top-level">
        <h4><%= "#{section_name} (#{@paths_parser.top_level[section_name]})" %></h4>
        <% subpages.each do |sub_name, sub_path| %>
          <div class="subpage">&nbsp;&nbsp;<%= "#{sub_name} (#{sub_path})" %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</p>
